@model IEnumerable<App3.Models.Tarefas>

@{
    ViewData["Title"] = "Home";
}

<environment >
    <link rel="stylesheet" href="~/css/MyCss.css" />
</environment>


<h2> @ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        @if (Model.ToList().Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Início</th>
                        <th>Fim</th>
                        <th>Importância</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Tarefas t in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(item => t.Id)</td>
                        <td>@Html.DisplayFor(item => t.Nome)</td>
                        <td>@Html.DisplayFor(item => t.Descricao)</td>
                        <td>@Html.DisplayFor(item => t.Inicio)</td>
                        <td>@Html.DisplayFor(item => t.Fim)</td>

                        @if (t.Importancia == "Média" || t.Importancia == "Moderada")
                        {
                            <td class="text-warning">@Html.DisplayFor(item => t.Importancia)</td>
                        }
                        else if (t.Importancia == "Alta" || t.Importancia == "Crítica")
                        {
                            <td class="text-danger">@Html.DisplayFor(item => t.Importancia)</td>
                        }
                        else
                        {
                            <td class="text-info">@Html.DisplayFor(item => t.Importancia)</td>
                        }

                        <td>
                            <a asp-action="Details" asp-route-id="@t.Id" class="btn btn-info">Detalhes</a>
                            <a asp-action="Update" asp-route-id="@t.Id" class="btn btn-warning">Atualizar</a>
                            <a asp-action="Delete" asp-route-id="@t.Id" class="btn btn-danger">Deletar</a>


                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <h3>Não há tarefas cadastradas.</h3>
        }
    </div>
    <div class="row">
        <a asp-action="Create" class="btn btn-info">Cadastrar Tarefa</a>
    </div>
</div>